.content {
    text-align: center;
    margin: auto;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 40px;
    padding: 30px;
    background-color: #f8f9fa;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .btn {
    margin: 0 5px;
}

.form-inline .form-control,
.form-inline .btn {
    margin: 0.5rem 0;
}
